@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .hero {
    background-image: url("./assets/teamvest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .plans {
    background-image: url("./assets/girlslide.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .cert {
    background-image: url("./assets/certvista.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .ourplans {
    background-image: url("./assets/btcbgg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(2, 2, 101, 0.762);
    background-blend-mode: color;
  }
  